.menu {
  background: $color-grey-light-1;
  border-top: 1px solid $color-grey-light-2;
  font-size: 0;

  &__item {
    padding: 0.6rem 2rem;
    display: inline-block;
    border-bottom: 1px solid $color-grey-light-2;
    border-right: 1px solid $color-grey-light-2;

    &:hover {
      background: #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      border-right: 1px solid $color-grey-light-2;
    }

    &--link {
      text-decoration: none;
      color: #555;
      font-family: Roboto;
      font-size: 1.4rem;
      font-weight: 800;

      &:hover {
        // color: #1C60BB;
      }
    }

    &--current &--link {
      color: #333333;
      border-bottom: 2px solid #333;
      padding-bottom: 0.5rem;
    }
  }
}

